@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
* {
	box-sizing: border-box;
}
.menu-fixo{
  display: flex;
  flex-wrap: wrap;
	align-items: center;
  justify-content: space-around;
  padding: 0;
  margin-top:-18px;
  margin-left: 50px;
  max-width: 100%;
  margin-right: -8px;
  height: 80px;
  background: black;
  right: 10px;
}

.login a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 40px;
  font-family: 'Titillium Web';
 }

.menu-fixo .fa{
  display: flex;
  color: white;
}

.menu-fixo h1{
  color: white;
  font-family: 'Titillium Web';
}

.menu-fixo ul li > .fa{
  text-decoration: none;
}


div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}


div #login-trigger,
div #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 8px;
  text-decoration: none;
}

fieldset{
  border-width: 0;
}

div #login-content {
  display: none;
  position: absolute;
  right: 0;
  z-index: 999;    
  background: #fff;
  padding: 15px;
  width: 300px;
  height: 600px;
}

.main-menu {
background:#606E67;
top:0;
position:fixed;
height:100%;
width:60px;
left:0;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}


.fa-2x {
font-size: 2em;
}

.fa {
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
padding-top: 15px;
}

.main-menu li>a {
position:relative;
display:table;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:70px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.info{
  margin-top: 30px;
  display: flex;
  margin-left: 70px;
  flex-wrap: wrap;
	align-items: center;
  justify-content: space-around;
}

.infos{
  max-width: 100%;
  height: 70px;
  background: gray;
  padding: 25px;
  color: white;
  border-radius: 9px;
}

.main-menu ul li:hover{
  transition: 1s;
  background: purple;
}