body{
    background-image: url("https://previews.123rf.com/images/zhudifeng/zhudifeng1205/zhudifeng120503473/13592636-An-old-brass-compass-on-a-Treasure-map-background-Stock-Photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}