<div align="center">
    <h1>Analise de Rotas</h1>
</div>
<div class="container">
    <div class="row">
        <div class="column column-100">
            <div ng-show="selecionar_orientacao">
                <form ng-submit="buscarCamerasPorSentido(direcao)">
                    <fieldset>
                        <label>Selecione sua direção</label>
                        <select ng-model="direcao">
                            <option value="C">Interior - Capital</option>
                            <option value="I">Capital - Interior</option>
                        </select>
                        <input type="submit" value="Buscar Câmera">
                    </fieldset>
                </form>
            </div>

            <form ng-submit="pegarCameras(RegistroCountModel)">
                <div ng-show="dados_Rota">
                    <fieldset>
                        <label>Ponto inicial da rota</label>
                        <select ng-model="RegistroCountModel.idCameraInicial">
                            <option ng-repeat="camera in camerasSentido" ng-value="{{camera.idcamera}}">1 - {{camera.nome}}</option>
                        </select>

                        <label>Ponto final da rota</label>
                        <select ng-model="RegistroCountModel.idCameraFinal">
                            <option ng-repeat="camera in camerasSentido" ng-value="{{camera.idcamera}}">2 - {{camera.nome}}</option>
                        </select>

                        <label>Data</label>
                        <input type="date" ng-model="RegistroCountModel.data">

                        <input type="submit" value="Buscar Rota">
                    </fieldset>
                </div>
            </form>
            <div ng-show="botoes_Mapa">
                <input type="submit" ng-click="click()" value="Plotar mapa">
                <input type="submit" ng-click="tracarRota()" value="Calcular rota">
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="column column-100">
            <div id="map"></div>
        </div>
    </div>
</div>
<br><br>
<div ng-show="mapaPlotado">
    <div class="container">
        <div class="row">
            <div class="column column-25" align="center">
                <label>Veículos</label>
                <strong>{{energia.numeroVeiculos | number:0}}</strong>
                <br><img src="\IMG\logo-veiculo.png" title="Traffic Jam" width="70" height="70">
            </div>
            <div class="column column-25" align="center">
                <label>Distância</label>
                <strong>{{energia.distancia | number:2}} KM</strong>
                <br><img src="\IMG\logo-distancia.png" title="Map Marker" width="70" height="70">
            </div>
            <div class="column column-25" align="center">
                <label>Potencial de energia</label>
                <strong>{{energia.energia | number:0}} MWh</strong>
                <br><img src="\IMG\logo-energia.png" title="Traffic Jam" width="70" height="70">
            </div>
            <div class="column column-25" align="center">
                <label>Residências por mês</label>
                <strong>{{energia.numeroCasas | number:0}}</strong>
                <br><img src="\IMG\logo-residencia.png" title="Traffic Jam" width="70" height="70">
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="column column-100">
                <fusioncharts width="100%" height="400" type="column2d" datasource="{{veiculoPorHorario}}"> </fusioncharts>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column column-100">
                <fusioncharts width="100%" height="400" type="column2d" datasource="{{veiculoPorDia}}"> </fusioncharts>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="column column-100">
                <input type="submit" value="Voltar" ng-click="voltar()">
            </div>
        </div>
    </div>
</div>