<h3>My Google Maps Demo</h3>

<input type="submit" class="btn btn-primary btn-block btn-md" ng-click="click()" value="Iniciar Mapa">

<form ng-submit="tracarRota()">
    <select ng-model="partida">
        <option ng-repeat="radar in radares" ng-value="radar">{{radar[2]}}</option>
    </select>
    <select ng-model="chegada">
        <option ng-repeat="radar in radares" ng-value="radar">{{radar[2]}}</option>
    </select>
    <input type="submit" class="btn btn-primary btn-block btn-md" value="Tracar Rota">
</form>

<div id="map"></div>