<html>

<head>
</head>

<body>
    <div class="menu-fixo">
        <h1>Monitor Veículos</h1>
        <div class="login">

            <ul ng-show="!logado">
                <li id="login">
                    <a id="login-trigger" href="">
				Logar
			</a>
                    <div id="login-content">
                        <form novalidate name="formLogin" ng-submit="login(usuario)">
                            <fieldset id="inputs">
                                <input id="email" type="email" name="Email" placeholder="Email" required ng-model="usuario.email">
                                <input id="cpf" type="number" name="Cpf" placeholder="CPF" required ng-model="usuario.cpf">
                                <input id="password" type="password" name="Password" placeholder="Senha" required ng-model="usuario.senha">
                            </fieldset>
                            <fieldset id="actions">
                                <input type="submit" id="submit" value="Logar">
                                <input type="submit" class="btn-login-Login" ng-click="cadastrar()" value="Cadastre-se">
                            </fieldset>
                        </form>
                    </div>
                </li>
            </ul>

            <!--<ul ng-show="logado">
			    <li id="login">
					<a id="login-trigger" href="" ng-click="logout()">Log Out</a>
				</li>
			</ul>-->

        </div>
    </div>

    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
          <i class="fa fa-bars fa-2x"></i>
        </a>
            </li>

            <li>
                <a href="#">
          <i class="fa fa-home fa-2x"></i>
        </a>
            </li>

            <li class="has-subnav">
                <a href="#">
          <i class="fa fa-location-arrow fa-2x"></i>
        </a>

            </li>
            <li class="has-subnav">
                <a href="#">
          <i class="fa fa-files-o fa-2x"></i>
        </a>

            </li>
            <li class="has-subnav">
                <a href="#">
          <i class="fa fa-camera fa-2x"></i>
        </a>
            </li>
            <li class="has-subnav">
                <a href="#">
          <i class="fa fa-car fa-2x"></i>
        </a>
            </li>
            <li class="has-subnav">
                <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
        </a>
            </li>
            <li>
                <a href="#">
          <i class="fa fa-bar-chart-o fa-2x"></i>
        </a>
            </li>
            <li>
                <a href="#">
          <i class="fa fa-map fa-2x"></i>
        </a>
            </li>
            <li>
                <a href="#">
          <i class="fa fa-map-marker fa-2x"></i>
        </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="column column-25"></div>
            <div class="column column-50">
                <h2>Cadastro</h2>
                <form name="formLogin" ng-submit="novoUsuario(usuario)">
                    <input type="email" name="email" required ng-model="usuario.email" placeholder="Insira seu email">
                    <input type="password" name="password" required ng-model="usuario.senha" placeholder="Insira sua senha">
                    <label>Data de Nascimento: <input type="date" name="data" required ng-model="usuario.datanascimento"></label>
                    <input type="text" name="rg" required ng-model="usuario.rg" placeholder="Insira seu RG">
                    <input type="text" name="cpf" required ng-model="usuario.cpf" placeholder="Insira seu CPF">
                    <input type="number" name="numero" required ng-model="usuario.telefone" placeholder="Insira seu telefone">
                    <input type="text" name="endereco" required ng-model="usuario.endereco" placeholder="Insira seu endereço">
                    <input type="text" name="bairro" required ng-model="usuario.bairro" placeholder="Insira seu bairro">
                    <label for="opcionais">Selecione sua Cidade:</label>
                    <select ng-model="usuario.idcidade" class="form-control">
                    <option ng-repeat="cidade in cidades" value="{{cidade.idcidade}}">{{cidade.nome}}</option>
                </select>
                    <input type="submit" class="btn-login-Login" value="Cadastre-se">
                </form>
            </div>
            <div class="column column-25"></div>
        </div>
    </div>