<div class="container">
    <div class="row">
        <div class="column column-25"></div>
        <div class="column column-50">
            <h1>Monitor Veiculos</h1>
            <form name="formLogin" ng-submit="novaOcorrencia(usuario)">
                <label for="opcionais">Selecione seu Veiculo:</label>
                <select ng-model="ocorrencia.veiculo" class="form-control">
                    <option ng-repeat="veiculo in veiculos" value="{{veiculo}}">{{veiculo.nome}}</option>
                </select>

                <label for="opcionais">Data do ocorrido</label>
                <input type="date" ng-model="ocorrencia.data_hora">

                <label for="opcionais">Selecione o tipo:</label>
                <select ng-model="ocorrencia.TIPO_OCORRENCIA" class="form-control">
                    <option  value="R">Roubo</option>
                    <option  value="S">Sequestro</option>
                    <option  value="F">Furto</option>
                </select>

                <label for="opcionais">Estava estacionado?</label>
                <select ng-model="ocorrencia.estacionado" class="form-control">
                    <option  value="S">Sim</option>
                    <option  value="N">Não</option>
                </select>

                <label for="opcionais">Estava dentro do Carro?</label>
                <select ng-model="ocorrencia.ESTAVA_NO_CARRO" class="form-control">
                    <option  value="S">Sim</option>
                    <option  value="N">Não</option>
                </select>

                <label for="numero_meliantes">Numero de meliantes</label>
                <input type="number" ng-model="ocorrencia.numero_meliantes">

                <label for="numero_meliantes">Numero de vitimas</label>
                <input type="number" ng-model="ocorrencia.numero_vitimas">

                <label for="opcionais">Estava dentro do Carro?</label>
                <select ng-model="ocorrencia.ESTAVA_NO_CARRO" class="form-control">
                    <option  value="S">Sim</option>
                    <option  value="N">Não</option>
                </select>
                <input type="submit" value="Cadastrar Ocorrência">
            </form>
        </div>
        <div class="column column-25"></div>
    </div>
</div>