<div class="container">
    <div class="row">
        <div class="column column-100">
            <br>
            <div align="center">
                <h1>Consulta de Cameras</h1>
            </div>
            <div ng-show="selecionar_camera">
                <form ng-submit="buscarInformacoesCamera(RegistroCountModel)">
                    <fieldset>
                        <label>Selecione sua camera</label>
                        <select ng-model="RegistroCountModel.idCameraInicial">
                            <option ng-repeat="camera in cameras" ng-value="camera.idcamera">{{camera.nome}}</option>
                        </select>
                        <label>Selecione a data de pesquisa</label>
                        <input type="date" ng-model="RegistroCountModel.data">
                        <input type="submit" value="Buscar Camera">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-show="detalhes">
    <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <i class="fa fa-car fa-2x"></i>
                <label>Numero de veiculos capturados</label>
                <p>{{numeroVeiculos}}</p>
            </div>
            <div class="column column-30" align="center">
                <i class="fa fa-video-camera fa-2x"></i>
                <label>Numero de veiculos acima da velocidade</label>
                <p>{{placasAcimaVelocidade}}</p>
            </div>
            <div class="column column-30" align="center">
                <i class="fa fa-tachometer fa-2x"></i>
                <label>Velocidade média dos veiculos capturados</label>
                <p>{{velocidadeMedia | number:2}} KM/H </p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column column-100">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>