<div class="container">
  <div class="row">
    <div class="column column-25"></div>
    <div class="column column-50">

      <label for="buscarOcorrencia">Buscar ocorrência</label>
      <input id="buscarOcorrencia" type="text" placeholder="Digite os dados da ocorrência" ng-model="ocorrencia">
      <button ng-click="obterOcorrenciaUsuario(ocorrencia)">Buscar</button>

    </div>
    <div class="column column-25"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column column-100">
      <table>
        <thead>
          <tr>
            <th>Veículo</th>
            <th>Data e hora</th>
            <th>Tipo de ocorrência</th>
            <th>Estacionado</th>
            <th>Arma de fogo</th>
            <th>Número de meliantes</th>
            <th>Número de vitimas</th>
            <th>Sexo do(a) Proprietário(a)</th>
            <th>Idade da vítima</th>
            <th>Meliante estava em outro veículo</th>
            <th>Outros pertences foram levados</th>
            <th>Veículo segurado</th>
            <th>Veículo com rastreador</th>
            <th>Situação da ocorrência</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in registros | orderBy: 'id'">
            <th>{{a.ocorrencia}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>