<div class="container">
  <div class="row">
    <div class="column column-100">
      <div align="center">
        <h1>Consulta de Ocorrencias</h1>
      </div>
      <div ng-show="mostrarOcorrencia">
        <table>
          <thead>
            <tr>
              <th>Tipo de ocorrência</th>
              <th>Marca do veículo</th>
              <th>Nome da vítima</th>
              <th>Cidade da ocorrência</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ocorrencia in ocorrencias">
              <td>{{ocorrencia.tipoOcorrencia}}</td>
              <td>{{ocorrencia.veiculo.modelo}}</td>
              <td>{{ocorrencia.usuario.email}}</td>
              <td>{{ocorrencia.cidade.nome}}</td>
              <div ng-if="view">
                <td><i ng-class="view ? 'fa fa-eye fa-2x' : 'fa fa-spinner fa-spin fa-2x'" ng-click="verOcorrencia(ocorrencia.idocorrencia)"
                    title="Ver Detalhes"></i></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div ng-show="detalhesOcorrencia">
    <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Modelo do veículo</label>
                <i class="fa fa-car fa-3x"></i>
                <br><br><p>{{ocorrenciaDetalhe.veiculo.modelo}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Horário da ocorrência</label>
                <i class="fa fa-calendar fa-3x"></i>
                <br><br><p>{{ocorrenciaDetalhe.dataHora | date : "dd/MM/y"}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Tipo de ocorrência</label>
                <i class="fa fa-exclamation-triangle fa-3x"></i>
                <br><br><p>{{ocorrenciaDetalhe.tipoOcorrencia | tiposOcorrencia}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Numero de vítimas</label>
                <i class="fa fa-users fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.numeroVitimas}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Sexo do proprietário</label>
                <i class="fa fa-transgender fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.sexoProprietario | formataSexo}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Idade da vítima</label>
                <i class="fa fa-user fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.idadeVitima}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Outros pertences foram levados?</label>
                <i class="fa fa-laptop fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.outrosPertencesLevados | simOuNao}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Veículo segurado?</label>
                <i class="fa fa-lock fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.veiculoSegurado | simOuNao}}</p>
            </div>
            <div class="column column-30" align="center">
               <label>Veículo com rastreador</label>
               <i class="fa fa-map-marker fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.veiculoComRastreador | simOuNao}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Situacao da ocorrência</label>
                <i class="fa fa-exclamation-triangle fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.situacaoOcorrencia | situacao}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>E-mail do proprietário</label>
                <i class="fa fa-envelope fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.usuario.email}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Cidade da ocorrência</label>
                <i class="fa fa-flag-o fa-3x" ></i>
                <br><br><p>{{ocorrenciaDetalhe.cidade.nome}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
    <span></span>
    <div class="container">
        <div class="row">
            <div class="column column-100">
              <h3 align="center">Localização da ocorrência</h3>
              <div id="map"></div>
              <button type="submit" ng-click="voltar()">Voltar</button>
            </div>
        </div>
    </div>
</div>
