<div class="container">
  <div class="row">
    <div class="column column-100">
      <div align="center">
        <h1>Consulta de Ocorrencias</h1>
      </div>
      <div ng-show="mostrarOcorrencia">
        <table>
          <thead>
            <tr>
              <th>Tipo de Ocorrencia</th>
              <th>Marca do Veiculo</th>
              <th>Nome da Vitima</th>
              <th>Cidade da ocorrencia</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ocorrencia in ocorrencias">
              <td>{{ocorrencia.tipoOcorrencia}}</td>
              <td>{{ocorrencia.veiculo.modelo}}</td>
              <td>{{ocorrencia.usuario.email}}</td>
              <td>{{ocorrencia.cidade.nome}}</td>
              <div ng-if="view">
                <td><i ng-class="view ? 'fa fa-eye fa-2x' : 'fa fa-spinner fa-spin fa-2x'" ng-click="verOcorrencia(ocorrencia.idocorrencia)"
                    title="Ver Detalhes"></i></td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div ng-show="detalhesOcorrencia">
    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <i class="fa fa-car fa-2x"></i>
                <label>Modelo do veiculo</label>
                <p>{{ocorrenciaDetalhe.veiculo.modelo}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-calendar fa-2x"></i>
                <label>Horário da ocorrencia</label>
                <p>{{ocorrenciaDetalhe.dataHora}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-exclamation-triangle fa-2x"></i>
                <label>Tipo da ocorrencia</label>
                <p>{{ocorrenciaDetalhe.tipoOcorrencia | tiposOcorrencia}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <i class="fa fa-users fa-2x" ></i>
                <label>Numero de vitimas</label>
                <p>{{ocorrenciaDetalhe.numeroVitimas}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-transgender fa-2x" ></i>
                <label>Sexo do proprietário</label>
                <p>{{ocorrenciaDetalhe.sexoProprietario | formataSexo}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-user fa-2x" ></i>
                <label>Idade da vitima</label>
                <p>{{ocorrenciaDetalhe.idadeVitima}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <i class="fa fa-laptop fa-2x" ></i>
                <label>Outros pertences foram levados?</label>
                <p>{{ocorrenciaDetalhe.outrosPertencesLevados | simOuNao}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-lock fa-2x" ></i>
                <label>Veiculo segurado?</label>
                <p>{{ocorrenciaDetalhe.veiculoSegurado | simOuNao}}</p>
            </div>
            <div class="column column-20" align="center">
               <i class="fa fa-map-marker fa-2x" ></i>
                <label>Veiculo com rastreador</label>
                <p>{{ocorrenciaDetalhe.veiculoComRastreador | simOuNao}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <i class="fa fa-exclamation-triangle fa-2x" ></i>
                <label>Situacao da ocorrencia</label>
                <p>{{ocorrenciaDetalhe.situacaoOcorrencia | situacao}}</p>
            </div>
            <div class="column column-20" align="center">
                <i class="fa fa-envelope fa-2x" ></i>
                <label>Email do proprietário</label>
                <p>{{ocorrenciaDetalhe.usuario.email}}</p>
            </div>
            <div class="column column-20" align="center">
               <i class="fa fa-flag-o fa-2x" ></i>
                <label>Cidade da ocorrencia</label>
                <p>{{ocorrenciaDetalhe.cidade.nome}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
    <span></span>
    <div class="container">
        <div class="row">
            <div class="column column-100">
              <h3 align="center">Localização da ocorrencia</h3>
              <div id="map"></div>
              <button type="submit" ng-click="voltar()"></button>
            </div>
        </div>
    </div>
</div>
