<div class="estatistica">
    <div>
        <fusioncharts
            width="50%"
            height="400"
            type= "column3d"
            dataFormat="json"
            theme = "carbon"
            dataSource="{{graficoFabricantesMaiorOcorrencia}}">
        </fusioncharts>
    </div>


    <div>
        <fusioncharts
            width="50%"
            heigh="400"
            type= "column3d"
            dataFormat="json"
            theme = "carbon"
            dataSource="{{graficoModelosMaisRoubados}}">
        </fusioncharts>
    </div>

    <div>
        <fusioncharts
            width="50%"
            heigh="400"
            type= "column3d"
            dataFormat="json"
            theme = "carbon"
            dataSource="{{graficoHorarioComMaiorRoubo}}">
        </fusioncharts>
    </div>

    <div>
        <fusioncharts
            width="50%"
            heigh="400"
            type= "column3d"
            dataFormat="json"
            theme = "carbon"
            dataSource="{{graficoCidadesComMaisRoubos}}">
        </fusioncharts>
    </div>

    <div>
        <fusioncharts
            width="50%"
            heigh="400"
            type= "column3d"
            dataFormat="json"
            theme = "carbon"
            dataSource="{{graficoCamerasComMaisVeiculosRoubados}}">
        </fusioncharts>
    </div>
</div>
