<div class="container">
    <div class="row">
        <div class="column column-50">
            <fusioncharts width="400" height="400" type="column2d" dataFormat="json" dataSource="{{fabricanteOcorrencia}}"></fusioncharts>
        </div>
        <div class="column column-50">
            <fusioncharts width="400" height="400" type="column2d" dataFormat="json" dataSource="{{modelosMaisRoubados}}"></fusioncharts>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="column column-50">
            <fusioncharts width="400" height="400" type="column2d" dataFormat="json" dataSource="{{horarioComMaiorRoubo}}"></fusioncharts>
        </div>
        <div class="column column-50">
            <fusioncharts width="400" height="400" type="column2d" dataFormat="json" dataSource="{{cidadeRoubos}}"></fusioncharts>
        </div>
    </div>
</div>
<!---<div class="container">
    <div class="row">
        <div class="column column-100">
            <fusioncharts width="1000" height="400" type="column2d" dataFormat="json" dataSource="{{graficoCamerasComMaisVeiculosRoubados}}"></fusioncharts>
        </div>
    </div>
</div>-->