<div class="info">
  <div class="infos" align="center">
    <p>Total de cidades</p>
    <h2>{{totalCidades}}</h2>
    <img src="https://png.icons8.com/map-marker/android/48" title="Map Marker" width="50" height="50">
  </div>
  <div class="infos" align="center">
    <p>Total de veículos</p>
    <h2>{{totalVeiculos}}</h2>
    <img src="https://png.icons8.com/car/ios7/50" title="Car" width="50" height="50">
  </div>
  <div class="infos" align="center">
    <p>Total de ocorrências dos últimos 3 meses</p>
    <h2>{{ocorrenciasUltimos3meses}}</h2>
    <img src="https://png.icons8.com/police-badge/Dusk_Wired/64" title="Police Badge" width="50" height="50">
  </div>
  <div class="infos" align="center">
    <p>Total de veiculos suspeitos</p>
    <h2>{{totalClonado}}</h2>
    <img src="https://png.icons8.com/handcuffs/ios7/50" title="Handcuffs" width="50" height="50">
  </div>
</div>