<div class="container">
    <div class="row menu-fixo">
        <h1 class="column">Monitor Veículos</h1>
        <a type="button" href="#!/login" class="column column-25 float-right"> Login </a>
    </div>
    <div class="row corpo">
        <div class="column column-25 float-left">
            <ul>
                <li class="column">
                    <a href="#">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-location-arrow fa-2x"></i>
                    <span class="nav-text">Cidades</span>
                    </a>
                </li>
                <li class="column">
                    <a href="/ocorrencias">
                    <i class="fa fa-files-o fa-2x"></i>
                    <span class="nav-text">Ocorrências</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-camera fa-2x"></i>
                    <span class="nav-text">Câmeras</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-car fa-2x"></i>
                    <span class="nav-text">Veículos</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">Suspeitos de clonagem</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">Gráficos</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#!/analiserota">
                    <i class="fa fa-map fa-2x"></i>
                    <span class="nav-text">Rotas</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">Mapas</span>
                    </a>
                </li>
                <li class="column">
                    <a href="#" ng-click="logout()">
                    <i class="fa c-off fa-2x"></i>
                    <span class="nav-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>    
    


            <div class="column column-75 float-rigth">
                <div class="column-25 float-left info">
                    <span class="info-box"><i class="fa fa-google-plus"></i></span>
                
                    <div class="info-box-content">
                        <span>{{totalCidade}}</span>
                    </div>
                </div>
                <div class="column-25 float-left info">
                    <span class="info-box"><i class="fa fa-google-plus"></i></span>
                
                    <div class="info-box-content">
                        <span>{{totalVeiculo}}</span>
                    </div>
                </div>
                <div class="column-25 float-left info">
                    <span class="info-box"><i class="fa fa-google-plus"></i></span>
                
                    <div class="info-box-content">
                        <span>{{ocorrencias}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>