<div class="container-Login">
    <h1>Monitor Veiculos</h1>
    <form name="formLogin" ng-submit="login(usuario)">
        <div class="form-input-Login">
            <input type="email" name="email" required ng-model="usuario.email" placeholder="Insira seu email">
        </div>
      <div class="form-input-Login">
            <input type="text" name="email" required ng-model="usuario.cpf" placeholder="Insira seu CPF">
        </div>
        <div class="form-input-Login">
            <input type="password" name="senha" required ng-model="usuario.senha" placeholder="Insira sua senha">
        </div>
        <input type="submit" class="btn-login-Login" value="Login">
    </form>
</div>