<div ng-show="pesquisa">
    <div class="container">
        <div class="row">
            <div class="column column-10"></div>
            <div class="column column-80">
                <form ng-submit="obterConsultaVeiculo(placa)">
                    <fieldset>
                        <input type="text" ng-model="placa"> <input type="submit" value="pesquisar">
                    </fieldset>
                </form>
            </div>
            <div class="column column-10"></div>
        </div>
    </div>
</div>
<br>
<div ng-show="mostrarVeiculo">
    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/police-badge/Dusk_Wired/64">
                <label>Total de Ocorrencias</label>
                <p>{{veiculoConsultado.totalOcorrencias}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/camera/ios7/50">
                <label>Total de Registros</label>
                <p>{{veiculoConsultado.totalRegistros}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/camera/ios7/50">
                <label>Quantidade de Cameras que o Registraram</label>
                <p>{{veiculoConsultado.quantidadeCameras}}</p>
            </div>
            <div class="column column-25"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/city/ios7/50">
                <label>Cidade do Veiculo</label>
                <p>{{veiculoConsultado.cidadeVeiculo.nome}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/speed/win8/48">
                <label>Vezes que Veiculo Ultrapassou a Velociadade</label>
                <p>{{veiculoConsultado.vezesUltrapassouLimite}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/city/ios7/50">
                <label>Vezes dias em outra cidade</label>
                <p>{{veiculoConsultado.numeroDiasNoutraCidade}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
</div>