<div align="center"><h1>Consulta de Veículos</h1></div>
<div ng-show="pesquisa">
    <div class="container">
        <div class="row">
            <div class="column column-10"></div>
            <div class="column column-80">
                <form ng-submit="obterConsultaVeiculo(placa)">
                    <fieldset>
                        <input type="text" ng-model="placa"> <input type="submit" value="pesquisar">
                    </fieldset>
                </form>
            </div>
            <div class="column column-10"></div>
        </div>
    </div>
</div>
<br>
<div ng-show="mostrarVeiculo">
    <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Ocorrências</label>
                <img src="https://png.icons8.com/police-badge/Dusk_Wired/64" width="70" height="70">
                <p>{{veiculoConsultado.totalOcorrencias}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Registros</label>
                <img src="https://png.icons8.com/camera/ios7/50" width="70" height="70">
                <p>{{veiculoConsultado.totalRegistros}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Câmeras com Registros</label>
                <img src="https://png.icons8.com/camera/ios7/50" width="70" height="70">
                <p>{{veiculoConsultado.quantidadeCameras}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column column-5"></div>
            <div class="column column-30" align="center">
                <label>Cidade</label>
                <img src="https://png.icons8.com/city/ios7/50" width="70" height="70">
                <p>{{veiculoConsultado.cidadeVeiculo.nome}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Velocidade Excecida</label>
                <img src="https://png.icons8.com/speed/win8/48" width="70" height="70">
                <p>{{veiculoConsultado.vezesUltrapassouLimite}}</p>
            </div>
            <div class="column column-30" align="center">
                <label>Dias Fora da Cidade</label>
                <img src="https://png.icons8.com/city/ios7/50" width="70" height="70">
                <p>{{veiculoConsultado.numeroDiasNoutraCidade}}</p>
            </div>
            <div class="column column-5"></div>
        </div>
    </div>
</div>