<div class="menu-fixo">
    <h1>Monitor Veículos</h1>
    <div class="login">

        <ul ng-show="!logado">
            <li id="login">
                <a id="login-trigger" href="">
				Logar
			</a>
                <div id="login-content">
                    <form novalidate name="formLogin" ng-submit="login(usuario)">
                        <fieldset id="inputs">
                            <input id="email" type="email" name="Email" placeholder="Email" required ng-model="usuario.email">
                            <input id="cpf" type="number" name="Cpf" placeholder="CPF" required ng-model="usuario.cpf">
                            <input id="password" type="password" name="Password" placeholder="Senha" required ng-model="usuario.senha">
                        </fieldset>
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="Logar">
                        </fieldset>
                    </form>
                </div>
            </li>
        </ul>
        <!--
			<ul ng-show="logado">
			    <li id="login">
					<a id="login-trigger" href="" ng-click="logout()">Log Out</a>
				</li>
			</ul>-->

    </div>
</div>

<nav class="main-menu">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-bars fa-2x"></i>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-home fa-2x"></i>
            </a>
        </li>

        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-location-arrow fa-2x"></i>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-files-o fa-2x"></i>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-camera fa-2x"></i>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-car fa-2x"></i>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#">
            </a>
        </li>
    </ul>
</nav>

<div ng-show="pesquisa">
    <div class="container">
        <div class="row">
            <div class="column column-10"></div>
            <div class="column column-80">
                <form ng-submit="obterConsultaVeiculo(placa)">
                    <fieldset>
                        <input type="text" ng-model="placa"> <input type="submit" value="pesquisar">
                    </fieldset>
                </form>
            </div>
            <div class="column column-10"></div>
        </div>
    </div>
</div>
<br>
<div ng-show="mostrarVeiculo">
    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/police-badge/Dusk_Wired/64">
                <label>Total de Ocorrencias</label>
                <p>{{veiculoConsultado.totalOcorrencias}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/camera/ios7/50">
                <label>Total de Registros</label>
                <p>{{veiculoConsultado.totalRegistros}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/camera/ios7/50">
                <label>Quantidade de Cameras que o Registraram</label>
                <p>{{veiculoConsultado.quantidadeCameras}}</p>
            </div>
            <div class="column column-25"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column column-20"></div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/city/ios7/50">
                <label>Cidade do Veiculo</label>
                <p>{{veiculoConsultado.cidadeVeiculo.nome}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/speed/win8/48">
                <label>Vezes que Veiculo Ultrapassou a Velociadade</label>
                <p>{{veiculoConsultado.vezesUltrapassouLimites}}</p>
            </div>
            <div class="column column-20" align="center">
                <img src="https://png.icons8.com/city/ios7/50">
                <label>Vezes dias em outra cidade</label>
                <p>{{veiculoConsultado.numeroDiasNoutraCidade}}</p>
            </div>
            <div class="column column-20"></div>
        </div>
    </div>
</div>