body{
    box-sizing: border-box;
}

.container{
    left: -70px;
    padding-top: 30px;
    
}
.row{   
    padding-left: 0;
    margin-left: 0;
}

.menu-fixo{
    margin-bottom: 10px;
}

.info{
    width: 200px;
    height: 100px;
    margin-right: 10px;
    background: #1bba8a;
}